Options -Indexes

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Block access to internal folders
  RewriteRule ^(cache|logs|scripts)(/|$) - [F,L]
</IfModule>
